<h1>YelperSquare</h1>

<h3>Create a profile for a new restaurant <%= link_to "HERE", new_restaurant_path %></h3>

<h3>The following Austin restaurants already have reviews: </h3>

<% @restaurants.each do |restaurant| %>
	<div>
		<img src="<%=restaurant.photo_url%>" height="100" width="100">
		<%= link_to restaurant.name, restaurant %>
		<br>
		Hours: <%= restaurant.hours %>
		<br>
		Cuisine: <%= restaurant.cuisine %>
		<br>
		Address: <%= restaurant.address %>
	</div>
	<br>
	<br>
<% end %>
